:root{
    --font-heading: 'Outfit', sans-serif;
    --font-base: 'Inter', sans-serif;
    --font-code: 'Fira Code', monospace;
}

html {
    scroll-behavior: smooth;
  }
.links{
    text-decoration: none;
}

.btn{
    border-width: 1px;
    border-color: black;
    padding: 3px;
}

.headers{
    font-family: var(--font-heading);
}

.body-text{
    font-family: var(--font-base);
}
.navbar{
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap: 13px;
    margin-right: 5%;
    margin-left: auto;
    align-items: center;
}

#mendoAPI-logo{
    margin-left: 20px;
    margin-right: auto;
    width: 130px;
    height: auto;
}

ul  {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul a{
    color: black;
    text-decoration: none;
    font-family: Arial;
    font-size: 17px;
}

ul a:hover{
    color: rgb(185, 18, 93);
}
#inicio{
    height: 90vh;
    display: flex;
    flex-direction: column;
    
    padding: 20px;
}

.h1-inicio{
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 40px;
}

.subtitle-inicio{
    font-family: var(--font-base);
}

@media (min-width:769px) {
    #inicio{
        flex-direction: row;
    }
}

.inicio__izquierda{
    margin-left: 5%;
    margin-right: auto;
    width: 40%;
}

.inicio__derecha{
    width: 60%;
}
#imagen-mendoza{
    height: 300px;
    width: auto;
}


#inicio button{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*USOS*/
#usos{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 4rem 1rem;
    background-color: #fdfdfd;
    text-align: center;
}
.usos__cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.uso{
    background-color: #ffffff;
    width: 35%;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    display: flex;
    flex:1 1 260 px;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    align-items: center;
    flex-direction: column;
    padding: 2.5px;
}

.uso:hover{
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.08);
    transform: translateY(-4px);

}
.uso p{
    font-size: 0.95rem;
    line-height: 1.5;
    color: #444;
    text-align: center;
}

#h2-usos{
    font-size: 35px;
}

.icono{
    height: 4.5rem;
    width: auto;
    margin-bottom: 2px;
    text-align: center;
}

.uso h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    text-align: center;
    color: #1a1a1a;
}

/*ENDPOINTS*/

#endpoints{
    height: 100vh;
}